- var n = 0;
ul
  while n < 3
    li
      .sub-none= n++
      - var i = 0
      ul
        while i < 3
          li.content-box
            .sub #{n}. #{i}
            - i++
              - cl = "box cube-" + n+i
              div(class=cl)